
<div class="flex flex-col space-y-1 border-2 border-black p-10 justify-center">
    <label for="">Nombre</label>
    <input type="text" placeholder="Alejandro" [(ngModel)]="chief.nombre" class="border-2 border-black rounded-md p-2">
    <label for="">Telefono</label>
    <input type="text" placeholder="9887664543" [(ngModel)]="chief.telefono" class="border-2 border-black rounded-md p-2">
    <label for="">Correo</label>
    <input type="text" placeholder="Ejemplo@gmail.com" [(ngModel)]="chief.correo" class="border-2 border-black rounded-md p-2">
    <label for="">Años de experiencia</label>
    <input type="number" placeholder="4" [(ngModel)]="chief.AExp" class="border-2 border-black rounded-md p-2">
    <label for="">Proyecto asignado</label>
    <label for="">Salario</label>
    <input type="number" [(ngModel)]="chief.salario" class="border-2 border-black rounded-md p-2"><br>
    <button class="h-12 border-2 border-black" (click)="mostrar()">Añadir jefe</button>
</div>
