<div class="flex flex-col space-y-4">
    <label for="">Proyecto</label>
    <select class="border-2 border-black rounded-md p-2"[(ngModel)]="proyectAw.idProyecto">
        <option *ngFor="let idp of idproyecto" [value]="idp">{{idp}}</option>
    </select>
    <label for="">Trabajador</label>
    <select class="border-2 border-black rounded-md p-2" [(ngModel)]="proyectAw.idTrabajador">
        <option *ngFor="let idt of idtrabajador" [value]="idt">{{idt}}</option>
    </select>
    <label for="">Fecha asignada</label>
    <input type="date" placeholder="12/12/2012" [(ngModel)]="proyectAw.fechaAsignada" class="border-2 border-black rounded-md p-2">
    <label for="">Horas trabajadas</label>
    <input type="number" placeholder="10" [(ngModel)]="proyectAw.horastrabajadas" class="border-2 border-black rounded-md p-2">
    <label for="">Rol en el proyecto</label>
    <select class="border-2 border-black rounded-md p-2" [(ngModel)]="proyectAw.rolProyecto">
        <option *ngFor="let rp of rolP" [value]="rp">{{rp}}</option>
    </select>
    <button class="border-2 border-black h-12" (click)="mostrar()">Asignar trabajador</button><br>
</div>
