<div class="flex flex-col space-y-1 justify-center text-lg">
    <label for="">Nombre</label>
    <input type="text" placeholder="Andre" [(ngModel)]="worker.nombretrabajador" class="border-2 border-gray-500 rounded-md p-2">
    <label for="">Posicion</label>
    <input type="text" placeholder="Constructor" [(ngModel)]="worker.posicion" class="border-2 border-gray-500 rounded-md p-2">
    <label for="">Telefono</label>
    <input type="text" placeholder="9551214234" [(ngModel)]="worker.telefono" class="border-2 border-gray-500 rounded-md p-2">
    <label for="">Correo</label>
    <input type="text" placeholder="ejemplo@gmail.com" [(ngModel)]="worker.correo" class="border-2 border-gray-500 rounded-md p-2">
    <label for="">Salario</label>
    <input type="text" placeholder="1000" [(ngModel)]="worker.salario" class="border-2 border-gray-500 rounded-md p-2">
    <label for="">Años de experiencia</label>
    <input type="number" placeholder="2" [(ngModel)]="worker.aniosexperiencia" class="border-2 border-gray-500 rounded-md p-2"><br>
    <button class="h-12 border-2 border-black rounded-md" (click)="mostrar()">{{editando ? "Actualizar trabajador":"Añadir trabajador"}}</button><br>

</div>
