<div class="flex flex-col p-6 justify-center items-center bg-gray-50 rounded-lg">
    <app-j-form [chiefE]="editJefe" (jefeCreado)="agregarJefe($event)" class="w-1/2"></app-j-form>
    <table class="w-full mt-6 text-center border-2 border-gray-400 text-lg">
        <thead class="bg-gray-100 text-gray-700">
            <tr>
                <th class="p-3 font-medium">Nombre</th>
                <th class="p-3 font-medium">Teléfono</th>
                <th class="p-3 font-medium">Correo</th>
                <th class="p-3 font-medium">Años de experiencia</th>
                <th class="p-3 font-medium">Salario</th>
                <th class="p-3 font-medium">Editar</th>
                <th class="p-3 font-medium">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let jefe of jefes; let i = index" class="border-b border-gray-200 hover:bg-gray-50 text-lg">
                <td class="p-3">{{ jefe.nombrejefe }}</td>
                <td class="p-3">{{ jefe.telefono }}</td>
                <td class="p-3">{{ jefe.correo }}</td>
                <td class="p-3">{{ jefe.aniosexperiencia }}</td>
                <td class="p-3">{{ jefe.salario }}</td>
                <td class="p-3">
                    <button class="text-blue-600" (click)="editarJefe(i)">Editar</button>
                </td>
                <td class="p-3">
                    <button class="text-red-600" (click)="eliminarJefe(i)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
