<div>
    <app-j-form [chiefE]="editJefe" (jefeCreado)="agregarJefe($event)"></app-j-form>
    <table class="border-2 border-black">
        <tr class="border-2 border-black">
            <th class="border-2 border-black p-2">Nombre</th>
            <th class="border-2 border-black p-2">Telefono</th>
            <th class="border-2 border-black p-2">Correo</th>
            <th class="border-2 border-black p-2">Años de experiencia</th>
            <th class="border-2 border-black p-2">Salario</th>
        </tr>
        <tr class="border-4 border-black" *ngFor="let chief of chiefs; let i = index">
            <td class="border-2 border-black p-2">{{chief.nombre}}</td>
            <td class="border-2 border-black p-2">{{chief.telefono}}</td>
            <td class="border-2 border-black p-2">{{chief.correo}}</td>
            <td class="border-2 border-black p-2">{{chief.AExp}}</td>
            <td class="border-2 border-black p-2">{{chief.salario}}</td>
            <td class="border-2 border-black p-2"><button (click)="editarJefe(i)">Editar</button></td>
            <td class="border-2 border-black p-2"><button (click)="eliminarJefe(i)">Eliminar</button></td>
        </tr>
    </table>
</div>