<div class="flex flex-col space-y-1 justify-center text-lg">
    <label for="">Nombre</label>
    <input type="text" placeholder="Torres imperial" [(ngModel)]="proyecto.nombreproyecto" class="border-2 border-gray-500 rounded-md p-2">
    <label for="">Ubicacion</label>
    <input type="text" placeholder="San cristobal" [(ngModel)]="proyecto.ubicacion" class="border-2 border-gray-500 rounded-md p-2">
    <label for="">Fecha de inicio</label>
    <input type="date" placeholder="12/04/2025" [(ngModel)]="proyecto.fechainicio" class="border-2 border-gray-500 rounded-md p-2">
    <label for="">Fecha de finalizacion</label>
    <input type="date" placeholder="12/04/2027" [(ngModel)]="proyecto.fechafinal" class="border-2 border-gray-500 rounded-md p-2">
    <label for="">Presupuesto</label>
    <input type="number" placeholder="1000" [(ngModel)]="proyecto.presupuesto" class="border-2 border-gray-500 rounded-md p-2">
    <label for="">Estado del proyecto</label>
    <input type="text" placeholder="Iniciando" class="border-2 border-gray-500 rounded-md p-2" [(ngModel)]="proyecto.estadoproyecto">
    <label for="">Jefe del proyecto</label>

    <select class="border-2 border-gray-500 rounded-md p-2"  [(ngModel)]="proyecto.idjefeproyecto" >
        <option value="" disabled selected>Selecciona un jefe</option>
        <option value="" *ngFor="let jefe of jefes" [value]="jefe.idjefeproyecto">{{jefe.nombrejefe}}</option>
    </select><br>
    
    <button class="h-12 border-2 rounded-md border-gray-500" (click)="mostrar()">{{editando ? "Actualizar proyecto":"Añadir proyecto"}}</button><br>
</div>
